<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Aula 1</title>
		<link rel="stylesheet" type="text/css" href="estilo.css">
	</head>
	<body>
		<main>
			<h1>Cadastro</h1>
			<form method="post" action="/cadastrar">
				<label for="nome">Nome:</label>
				<input type="text" name="nome" id="nome" placeholder="Nome" required>
				<label for="email">Email:</label>
				<input type="email" name="email" id="email" placeholder="nome@dominio.com" required>
				<label for="senha">Senha:</label>
				<input type="password" name="senha" id="senha" placeholder="senha" required>
				<button type="submit">Cadastrar</button>
			</form>
		</main>

		<script src="script.js" type="text/javascript"></script>
	</body>
</html>