@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url('ubuntu.woff2') format('woff2');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

form button {
	margin: 15px 0 40px 0;
	border: none;
	border-bottom: 4px solid #0561be;
	outline: none;
	border-radius: 2px;
	background-color: #0084ff;
	color: #fff;
	font-size: 16px;
}

body#cadastro-login {
	background-image: url('images/manypeople.jpg');
	background-repeat: repeat;
}

#cadastro-login section {
	width: 465px;
	margin: 60px 18px;
	display: inline-block;
	vertical-align: top;
	border: 10px solid rgba(0,0,0,0.5);
}

#cadastro-login h1 {
	padding: 15px 30px;
	background-color: #b3de1d;
	color: #2a2a2a;
	font-size: 22px;
	font-weight: 500;
}

#cadastro-login form {
	padding: 30px 30px 0 30px;
	background-color: #fff;
}

#cadastro-login label, #cadastro-login input {
	display: block;
}

#cadastro-login label {
	margin-bottom: 5px;
	color: #474747;
	font-size: 18px;
	font-weight: bold;
}

#cadastro-login input {
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	padding-left: 10px;
	border: none;
	outline: none;
	border-radius: 3px;
	background-color: #f1f1f1;
	color: #474747;
	font-size: 18px;
}

#cadastro-login button {
	width: 100%;
	margin: 15px 0 40px 0;
	padding: 14px 0;
	border: none;
	border-bottom: 4px solid #0561be;
	outline: none;
	border-radius: 2px;
	background-color: #0084ff;
	color: #fff;
	font-size: 16px;
}

#home section:first-child {
	height: 333px;
	padding: 80px 35px 0 35px;
	position: relative;
	background: linear-gradient(rgba(36,9,71,0.72), rgba(36,9,71,0.72)), url('images/points.jpg');
	background-attachment: fixed;
}

#home h1 {
	font-size: 48px;
	font-weight: 300;
	color: #b3de1d;
}

#home img {
	width: 256px;
	height: 256px;
	position: absolute;
  bottom: -128px;
	border-radius: 5px;
}

#home a {
	position: absolute;
  top: 205px;
  right: 35px;
}

#home a button {
	width: 132px;
	height: 50px;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: #b3de1d;
	font-size: 16px;
	color: #000;
	cursor: pointer;
	transition: 0.3s linear;
}

#home a button:hover {
	background-color: #fff;
}

#home main {
	padding: 0 35px;
}

#home h2 {
	margin: 140px 0 25px 0;
	padding-bottom: 20px;
	border-bottom: 4px solid #b3de1d;
	font-size: 28px;
	color: #363b51;
}

#home form {
	margin-bottom: 35px;
}

#home label {
	display: block;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 500;
	color: #474747;
}

#home textarea {
	width: 100%;
	height: 80px;
	padding: 14px 15px;
	border-radius: 4px;
	border: none;
	outline: none;
	background-color: #f1f1f1;
	font-size: 18px;
	resize: none;
}

#home form button {
	width: 100px;
	padding: 7px 0;
}